{% extends "layout.html" %}
{% block content %}
<main>
    <marquee direction="up" scrollamount="5" id= myMarquee loop="">
    <h1 class="h1"><u>E-Court Management System</u></h1>
    <br>
    <p>The E-Court Management System is a comprehensive platform designed to streamline the management of court cases, making judicial processes more efficient, transparent, and accessible. This system enables quick and detailed search capabilities, allowing users to locate cases through various parameters, ultimately reducing time spent on administrative tasks and ensuring critical case information is easily accessible.</p>
    <br><br>
    <h2><u>Key Features:</u></h2><br>
    <ul>
        <li><strong>Advanced Case Search:</strong> Locate cases quickly using various parameters, such as CNR number, FIR number, case number, file name, and status ID, making it easy to retrieve specific case details.</li><br>
        <li><strong>Dynamic Filtering Options:</strong> Filter cases based on court location, police station names, and dates, providing flexible views to accommodate the needs of judges, clerks, lawyers, and other stakeholders.</li><br>
        <li><strong>Comprehensive Case Management:</strong> Track case history, statuses, and updates seamlessly from filing to resolution.</li><br>
        <li><strong>Document Management:</strong> Organize and securely store case documents and evidence for easy access and retrieval.</li><br>
        <li><strong>User Roles and Permissions:</strong> Controlled access for judges, lawyers, and clerks, maintaining data privacy and security.</li><br>
        <li><strong>Scheduling and Notifications:</strong> Automate hearing schedules, assign courtrooms, and notify parties involved to ensure efficient proceedings.</li><br>
    </ul>
<br><br>
    <h2><u>Benefits:</u></h2><br>
    <ul>
        <li><strong>Efficient Case Access:</strong> Advanced search and filtering options save time by making specific cases instantly retrievable.</li><br>
        <li><strong>Enhanced Transparency:</strong> Provides authorized users with real-time access to case details, facilitating greater transparency in judicial processes.</li><br>
        <li><strong>Data Security:</strong> Secure data handling and restricted access protect sensitive information.</li><br>
        <li><strong>Improved Judicial Efficiency:</strong> Automating scheduling, document handling, and case tracking reduces administrative load and shortens case resolution times.</li><br>
    </ul>
<br>
    <p>The E-Court Management System is designed to bring convenience and modernity to court processes, making case management smoother, more organized, and adaptable to the unique needs of each user.</p>
</marquee>
</main>
{% endblock %}