{% extends "layout.html" %}
{% block content %}
<lead><main>
        <h1>Contact Us</h1><br>
        <h2>DBMS Group Project : Court Managment System</h2>
            <br><h3>Members:</h3>
            <ul>
                <li>Yash (23/11/EC/059)</li>
                <li>Shobhit (23/11/EC/031)</li>
                <li>Asad (23/11/EC/014)</li>
                <li>Varshini (23/11/EC/069)</li>
                <li>Anjali (23/11/EC/066)</li>
            </ul>
        <div class="info">
            <p>Email us at: <a href="mailto:info@example.com">info@example.com</a></p>
            <p>Call us: <a href="tel:+123456789">+1 234 567 89</a></p>
        </div>
</main></lead>
{% endblock %}