{% extends "layout.html" %}
{% block content %}
<lead>
<main>
    <main1 class="container">
        <div class="button" onclick="location.href='court.html'">
            <img src="/static/images/1998-134-4_new_sm.webp" alt="Court Image">
            <div class="button-label">Court</div>
        </div>
        <div class="button" onclick="location.href='name.html'">
            <img src="/static/images/1998-134-4_new_sm.webp" alt="Name Image">
            <div class="button-label">Name</div>
        </div>
        <div class="button" onclick="location.href='date.html'">
            <img src="/static/images/1998-134-4_new_sm.webp" alt="Date Image">
            <div class="button-label">Section & Act</div>
        </div>
        <div class="button" onclick="location.href='policestation.html'">
            <img src="/static/images/1998-134-4_new_sm.webp" alt="Police Station Image">
            <div class="button-label">Police Station</div>
        </div>
        <div class="button" onclick="location.href='lawyer.html'">
            <img src="/static/images/1998-134-4_new_sm.webp" alt="Lawyer Image">
            <div class="button-label">Lawyer</div>
        </div>
        <div class="button" onclick="location.href='judge.html'">
            <img src="/static/images/1998-134-4_new_sm.webp" alt="Judge Image">
            <div class="button-label">Judge</div>
        </div>
    </main1>
</main>
</lead>
{% endblock %}